*{
	padding: 0;
	margin: 0;
}

html{
	background-color: green;

}

body{
	margin:0 auto;
	background-color: red;
	width: 60%;
}

.wrapper{
height: auto;
font-size: 20px;
}

h1{
	margin-top: 20px;
}

ul {
	height: auto;
  padding: 10px;
  border: 1px solid black;

}

li {
  margin-left: 20px;
}
